{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col">
                <h1 class="display-4">Наш блог</h1>
            </div>
            <div class="col-auto">
                <a href="{% url 'blog:post_create' %}" class="btn btn-primary">Добавить новую запись</a>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for post in posts %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    {% if post.preview_image %}
                        <img src="{{ post.preview_image.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text text-truncate">{{ post.content|truncatewords:15 }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="{% url 'blog:post_detail' pk=post.pk %}" class="btn btn-sm btn-outline-secondary">Читать
                            далее</a>
                        <small class="text-muted">Просмотры: {{ post.views_count }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}